html, body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  color: white;
  background-color: gray;
}
html a, body a {
  color: white;
  text-decoration: none;
}
html h1, body h1 {
  font-size: 70px;
}
html h2, body h2 {
  font-size: 35px;
  color: black;
}
html h3, body h3 {
  font-size: 25px;
  color: black;
}
html nav, body nav {
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
}
html nav a, body nav a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100px;
  height: 50px;
}
html nav a:hover:not(.more-button), body nav a:hover:not(.more-button) {
  color: hotpink;
}
html nav .logo, body nav .logo {
  margin-right: auto;
  margin-left: 100px;
}
html nav .more-button, body nav .more-button {
  margin-right: 100px;
  background-color: hotpink;
  border-radius: 30px;
  color: white;
}
html nav .more-button:hover, body nav .more-button:hover {
  box-shadow: 1px 1px 3px 3px pink;
  color: pink;
  transition: all 500ms;
}
html .welcome-container, body .welcome-container {
  height: 600px;
  width: 100%;
  margin-top: 70px;
}
html .main-content-container, body .main-content-container {
  margin-top: -50px;
  width: 96%;
  background-color: lightgray;
  z-index: 1;
  border-radius: 40px;
}
html footer, body footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
html footer .footer-left-side, body footer .footer-left-side {
  margin-left: 100px;
  display: flex;
  gap: 30px;
}
html footer h5, body footer h5 {
  margin-right: 100px;
}

body .blog-anchor {
  color: black;
}
body .welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/img/parallax_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .welcome-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 120px;
  height: 40px;
  background-color: hotpink;
  margin-top: 60px;
}
body .welcome-container p {
  font-size: 20px;
}
body .main-content-container .stand-for-container {
  text-align: center;
  color: darkgray;
  font-weight: 600;
}
body .main-content-container .stand-for-container h2 {
  margin-top: 100px;
}
body .main-content-container .stand-for-container .stand-for-grid {
  margin: 100px 0px;
  display: flex;
}
body .main-content-container .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/slider1.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
}
body .main-content-container .about-container h3 {
  color: white;
  font-size: 40px;
}
body .main-content-container .about-container .text-section {
  font-size: 30px;
}
body .main-content-container .about-container img {
  margin-left: 50px;
  width: 30%;
}
body .main-content-container .blog-container {
  height: 300px;
  text-align: center;
}
body .main-content-container .blog-container .blog-grid {
  width: 100%;
  height: 200px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
body .main-content-container .blog-container .blog-grid div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body .main-content-container .blog-container .blog-grid p {
  color: darkgray;
  font-weight: 600;
}
body .main-content-container .get-in-touch-container {
  width: 100%;
  height: 500px;
  background-image: url("../assets/img/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: "column";
}
body .main-content-container .get-in-touch-container h3 {
  margin-left: -50px;
  color: white;
  font-size: 40px;
}
body .main-content-container .get-in-touch-container .get-in-touch-content {
  margin-left: 300px;
}
body .main-content-container .get-in-touch-container .get-in-touch-content .header-container {
  margin-left: -50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
body .main-content-container .get-in-touch-container .get-in-touch-content .header-container i {
  font-size: 40px;
}/*# sourceMappingURL=home.css.map */