@mixin flexbox($flex_direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex_direction;
}