.cart-container {
    min-height: calc(100vh - 170px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;   
    h1 {
        margin-left: 0;
        font-size: 50px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .cart-total {
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}