.product-card {
  width: 20vw;
  text-align: center;
  background-color: rgba(187, 167, 217, 0.5);
  padding: 40px;
  margin: 140px 40px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: white;
    transition: all 500ms;
    .add {
      background-color: green;
      transition: all 500ms;
    }
    .subtract {
      background-color: red;
      transition: all 500ms;
    }
    button {
      color: white;
    }
    img {
      transition: all 1000ms;
      
    }
    input {
      transition: all 500ms;
      
    }
  }
  .text-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    input {
      font-size: 25px;
      width: 150px;
      height: 50px;
      background-color: rgba(187, 167, 217, 0.5);
    }
    .reviews {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }
    h2 {
      margin: 10px;
    }
  }
  .product-image {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
  }
  img {
      transition: all 500ms;
      mix-blend-mode: multiply;
      
    }
}