/* Hero Section */
.hero-container {
  position: relative;
  height: 800px;
  background-image: url("../../img/bookshelf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-container .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 10px;
  font-size: 1.25rem;
  letter-spacing: 8px;
  opacity: 0.8;
  color: lightgray;
}

/* About Section */
.about-container {
  text-align: center;
  padding: 60px;
}
.about-container .about-header p:nth-of-type(1) {
  font-style: italic;
}
.about-container .about-header p:nth-of-type(2) {
  text-align: justify;
}
.about-container .about-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 45px;
  width: 100%;
}
.about-container .about-content-wrapper .photo-wrapper {
  margin: 25px;
}

/* Accolades */
.accolades-container {
  display: flex;
  justify-content: space-around;
  background-color: darkslategray;
  color: white;
  height: 60px;
  align-items: center;
}
.accolades-container .accolade-item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.accolades-container .accolade-item-wrapper span {
  color: lightgray;
}

/* Portfolio Section */
.portfolio-container .portfolio-header-wrapper {
  height: 700px;
  background-image: url("../../img/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-container .portfolio-header-wrapper .portfolio-header-content {
  background-color: black;
  padding: 10px;
  font-size: 1.25rem;
  letter-spacing: 8px;
  opacity: 1.8;
  color: lightgray;
}
.portfolio-container .portfolio-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-container .portfolio-section-wrapper .portfolio-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 100px;
}

/* Contact Section */
.contact-header-wrapper {
  height: 700px;
  background-image: url("../../img/phone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-header-content {
  background-color: black;
  padding: 10px;
  font-size: 1.25rem;
  letter-spacing: 8px;
  opacity: 1.8;
  color: lightgray;
}

/* Contact Form */
.contact-section-wrapper {
  display: flex;
  justify-content: center;
}
.contact-section-wrapper .container {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-section-wrapper .container .left-column {
  width: 60%;
  padding-left: 20px;
}
.contact-section-wrapper .container .left-column .google-map-wrapper {
  height: 300px;
  width: -moz-fit-content;
  width: fit-content;
  border: #bdbdbd solid 1px;
}
.contact-section-wrapper .container .right-column {
  width: 40%;
}
.contact-section-wrapper .container .right-column form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-section-wrapper .container .right-column form input, .contact-section-wrapper .container .right-column form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.contact-section-wrapper .container .right-column form textarea {
  height: 150px;
  resize: none;
}
.contact-section-wrapper .container .right-column form button[type=submit] {
  background-color: rgb(161, 161, 161);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 0 auto;
  transition: 0.3s ease-out;
}
.contact-section-wrapper .container .right-column form button[type=submit]:hover {
  background-color: black;
  transition: 0.3s ease-in;
  transform: scale(0.7);
}/*# sourceMappingURL=home.css.map */